body {
    background-color: aquamarine ;
}

#fotoku {
    margin : 50px ;
    margin-top : 30px ;
    float:left;
}

#tulis {
    font-family: "Times New Roman", Times, script;
    text-align:center ;
    font-size : 50px;
    margin : 100px ;
}

#card1{
    margin-top : 30px ;
    margin-right : 300px;
    float:left;
    padding:0px;
    width:66,67px;
}

.tema{
    margin : 50px ;
}

#card2{
    margin-top : 40px ;
    padding:30px;
    width:33,33px;
}

#batas1{
    clear:both ;
}

#deskripsi {
    margin-right : 150px ;
    margin-left : 100px;
}

h3 {
    text-align : center ;
}

#gb1 {
    margin : 50px ;
    float:left;
}

#gb2 {
    margin : 50px ;
    float:left;
}

#gb3 {
    margin-right : 50 px;
    margin-top : 70px ;
}

#pocman {
    margin : 50px ;
    float:left ;
}

#card3 {
    margin : 50px ; 
    text-align: justify ;
}

#batas2{
    clear:both ;
}

#deskripsi2 {
    margin-right : 60px ;
    margin-left : 50px;
    float:left ;
}

#card4 {
    margin : 100px ;
    float:left;
}

#cari {
    margin-top: 100px  ;

}

#batas3{
    clear:both ;
}


#daftar{
    margin-right : 80px ;
    margin-left : 50px;
}

#pocman2 {
    margin : 50px ;
}

#buku {
    margin : 50px ;
}

#submit {
    margin : 40px;
}

@media all and (max-width: 768px) {
    .responsive-width {
        font-size: 1.75vw;
    }
}  
 
@media all and (max-width: 600px) {
    .responsive-width {
        font-size: 2vw;
    }
}  
 
@media all and (max-width: 480px) {
    .responsive-width {
        font-size: 2.25vw;
    }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}