body {
    background-color: aquamarine ;
}

#fotoku {
    margin : 50px ;
    margin-top : 30px ;
    float:left;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
	top:0px;
	left:0px;
    z-index:9999;
    background:url(https://ubisafe.org/images/transparent-gif-loading-1.gif) no-repeat 50% 50% rgba(255,255,255,0.9);
}

#tulis {
    font-family: "Times New Roman", Times, script;
    text-align:center ;
    font-size : 50px;
    margin : 100px ;
}

#card1{
    margin-top : 30px ;
    margin-right : 300px;
    float:left;
    padding:0px;
    width:66,67px;
}

.tema{
    margin : 50px ;
}

#card2{
    margin-top : 40px ;
    padding:30px;
    width:33,33px;
}

#batas1{
    clear:both ;
}

#deskripsi {
    margin-right : 150px ;
    margin-left : 100px;
}

h3 {
    text-align : center ;
}

#gb1 {
    margin : 50px ;
    float:left;
}

#gb2 {
    margin : 50px ;
    float:left;
}

#gb3 {
    margin-right : 50 px;
    margin-top : 70px ;
}

#pocman {
    margin : 50px ;
    float:left ;
}

#card3 {
    margin : 50px ; 
    text-align: justify ;
}

#batas2{
    clear:both ;
}

#deskripsi2 {
    margin-right : 60px ;
    margin-left : 50px;
    float:left ;
}

#card4 {
    margin : 100px ;
    float:left;
}

#cari {
    margin-top: 100px  ;

}

#batas3{
    clear:both ;
}


#daftar{
    margin-right : 80px ;
    margin-left : 50px;
}

#pocman2 {
    margin : 50px ;
}

#buku {
    margin : 50px ;
}

#submit {
    margin : 40px;
}

@media all and (max-width: 768px) {
    .responsive-width {
        font-size: 1.75vw;
    }
}  
 
@media all and (max-width: 600px) {
    .responsive-width {
        font-size: 2vw;
    }
}  
 
@media all and (max-width: 480px) {
    .responsive-width {
        font-size: 2.25vw;
    }
}
.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0; /* support: IE7 */
    font-size: 100%;
    border:1px solid #FDF8E4;
    background-color: #eee;
    background:#eee;
    color:black;
}