{% load static %}
<html>
        <title>Subscribe</title>
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>

<body>
 
  <style>
  body {background-color: powderblue;}
  </style>

  <div class="container">
    <div class="mt-5">
        <h2 style="text-align:center; "><b>Yuk di Subscribe!</b></h1>
    </div>


    <div class="mt-3" id="msg_response"></div>
    <!-- create user response -->
        
    <form class="form-group" method="POST" id="subscribe_form" onsubmit="return false;">
        {% csrf_token %} 
        {% for field in form %}
        <div class="form-group colorSub">
            <b>{{ field.label }} : {{ field }}</b>
        </div>
        {% endfor %}

        <div class="mt-4" id="msg_validate"></div>
      
      <div><center>
        <input id="subscribe_button" type="submit" value="Subscribe" class="btn btn-warning" disabled onclick="subscribe()"/>
      </center></div>
    </form>
	
		<br>
		<center><h1 class "text-main">My Subscriber</h1></center>
		
		<!-- <div id="listsub" class="card" style="margin:auto; margin-top: 5%; padding: 5%; background-color: rgba(0, 0, 0, 0.75); color: white !important;"> -->

		<table id="listsub" class="table table-hover table-striped" align="center" style="text-align: center">
			<tr>
				<th scope="col">Nama</th>
				<th scope="col">Email</th>
			</tr>
		{% if todo %}
			{%for data in todo %}
				<tr>
					<td scope="row">{{data.description}}</td>
					<td scope="row">{{data.time}}</td>
				</tr>	
			{%endfor%}
		

		</table>
	{%endif%}
  </div>
</body>
	<script>
	
		$(document).ready(function () {
		var x_timer;
		$("#nama_form").keyup(function (e) {
			clearTimeout(x_timer);
			var password = $(this).val();
			x_timer = setTimeout(function () {validate_user();}, 10);

		});
	});

	$(document).ready(function () {
		var x_timer;
		$("#email_form").keyup(function (e) {
			clearTimeout(x_timer);
			var email = $(this).val();
			x_timer = setTimeout(function () {validate_user();}, 10);
		});
	});

	$(document).ready(function () {
		var x_timer;
		$("#password_form").keyup(function (e) {
			clearTimeout(x_timer);
			var nama = $(this).val();
			x_timer = setTimeout(function () {validate_user();}, 10);
		});
	});

	function validate_user() {
		$.ajax({
			url: "/lab-10/cekvalidasi/",
			type: "POST",
			data: {
				nama: $('#nama_form').val(),
				email: $('#email_form').val(),
				password: $('#password_form').val()
			},

			success: function (response) {
				if (response.message == "All fields are valid"){
					document.getElementById('subscribe_button').disabled = false;
					$('#msg_validate').html("<p style='color:yellowgreen'>"+ response.message + "</p>")
				}
				else {
					document.getElementById('subscribe_button').disabled = true;
					$('#msg_validate').html("<p style='color:tomato'>"+ response.message + "</p>")
				}

			},
			error: function (errmsg) {

				alert("SORRY, ERROR DETECTED!");
			}

		});
	};
	var container = document.getElementById("listsub");
	function subscribe() {
		$.ajax({
			url: "lab-10/subcribe/",
			type: "POST",
			data: {
				nama: $('#nama_form').val(),            
				email: $('#email_form').val(),
				password: $('#password_form').val()
			},
			success: function (json) {
				console.log(json);
				$('#subscribe_form').val(''); // empty form
				$('#msg_response').html("<div class='alert alert-success'><strong>Success!</strong> THANKYOU FOR SUBSCRIBE!</div>")
				ambildata(json);
			},
			error: function (xhr, errmsg, err) {
				$('#msg_response').html("<div class='alert alert-danger'><strong>Error! </strong>SORRY, SERVER ERROR! </div>");
				alert("SORRY, ERROR DETECTED!");
			},
		});
	};
	
	function ambildata(data){
		htmlString = "<ul>";
		console.log(data.length)
		for (i=0;i<data.length;i++){
			htmlString+="<li>"+ " "+ "<button class='btn btn-secondary' onclick='hapusdata("+data[i].id + ")'>" + "Unsubscribe" + "</button>" + " "+ data[i].nama+" || " + data[i].email +  "</li>" +"<br>" 

		}
		container.insertAdjacentHTML('beforeend', htmlString+"</ul>")
	}

	
	
	
	




	
	</script>
</html>
