{% load static %}
<html>
    <head>
        
        <title>My Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
        <script type="text/JavaScript" src="{% static 'function.js' %}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script>
            $(document).ready(function() {
                    setTimeout(function(){
                        document.getElementById('load').style.visibility="hidden";
                        console.log("berhasil");
                    },2000);
                })
        </script>
    </head>

    <body bgcolor="#f9f098">
            <div id="load"></div>

        <div class="tema">
            <p> Select Your Theme here!</p>
        
          <input type="button" id="but1" value="Peach UI" onclick="warna('#E9967A')";/>
          <input type="button" id="but2" value="Blue Limes" onclick="warna('#48D1CC')";/>
        </div>
          <script>
               $(function() {
                    $( "#jQuery_accordion" ).accordion({
                    collapsible: true
                    });
                });
                
          </script>
          <p>Click on the buttons to open the collapsible content.</p> 
          <div id="jQuery_accordion">
            <h3>Aktivitas</h3>
                <ul>
                    <li>Kuliah</li>
                    <li>Kegiatan Organisasi</li>
                    <li>Kegiatan Kepanitiaan</li>
                    <li>Kegiatan Sosial</li>
                </ul>
            <h3>Pengalaman Organisasi dan Kepanitiaan</h3>
                <ul>
                    <li>Staff Divisi Peserta - BETIS</li>
                    <li>Staff Divisi Humas - Wisuda Ganjil</li>
                    <li>Volunteer Pengajar ComDev</li>
                    <li>Staff Departemen Pengabdian Masyarakat BEM Fasilkom UI</li>
                    <li>Staff KKM Fuki Fasilkom UI</li>
                    <li>Project Officer Rumah Belajar PocMan</li>
                    <li>Wakil Penanggung Jawab Divisi Dana Usaha - Siwak-NG</li>
                    <li>Wakil Penanggung Jawab Divisi Medis - PMB Fasilkom UI</li>
                </ul>
            <h3>Prestasi</h3>
              <div>
              <p>
                Best Staff Departemen Pengabdian Masyarakat BEM Fasilkom UI
              </p>
              </div>
          </div>

        <div id="fotoku">
            <img src = "https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42059178_103336817302689_3660655597667221504_n.jpg?_nc_cat=101&oh=3d2f19ac1f477699afe5614aded15a7a&oe=5C631340"  height="300" width="200" class="img-thumbnail" alt="Cinque Terre">
        </div>

        <div class="card bg-light mb-3" style="max-width: 18rem;" id="card1">
            <div class="card-block">
                <div class="card-header" >Biodata</div>
                    <div class="card-body">
                    <h5 class="card-title">Oktafia Sutanti</h5>
                    <p class="card-text">11 Oktober 1999</p>
                    <p class="card-text">Jln. Abdulrahman II No.108 Cibubur</p>
                    <p class="card-text">081299165668</p>
                    <p class="card-text">oktafia99@gmail.com</p>
                    </div>
                </div>
            </div> 
        </div>

        <div class="card bg-light mb-3" style="max-width: 25rem;" id="card2">
            <div class="card-block">
                <div class="card-header">Biodata</div>
                    <div class="card-body">
                      <h5 class="card-title">Pendidikan</h5>
                      <p class="card-text">2005-2011 SDN Cibubur 02 Pagi</p>
                      <p class="card-text">2011-2014 SMPN 91 Jakarta</p>
                      <p class="card-text">2014-2017 SMAN 39 Jakarta</p>
                      <p class="card-text">2017-sekarang Universitas Indonesia</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="batas1">
        </div>

        <div class="card bg-light" id="deskripsi">
            <div class="card-block">
                <div class="card-body text-justify">
                    <p class="card-text">Saya merupakan mahasiswa Fakultas Ilmu Komputer Universitas Indonesia dengan Program Studi Sistem Informasi. Saya merupakan orang yang tertarik dengan isu Sosial yang ada di masyarakat. Saya memiliki hobi menonton film.</p>
                </div>
            </div>
        </div>


    </body>
</html>