{% load static %}
<html>
    <head>
		<title>List Buku</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/JavaScript" src="{% static 'function.js' %}"></script>
	</head>
	
	<body bgcolor="#48D1CC">
		<style>
		body {background-color: powderblue;}
		.buttonClicked{
			animation:blinkingText 0.8s infinite;
		}
		@keyframes blinkingText{
			0%{color: orange;}
			40%{color: transparent;}
			50%{color: transparent;}
			80%{color: orange;}
			100%{color: orange;}
		}
		</style>
		<center>
		<br>
		<h2 id="buka"> List Buku </h4>
		<br>
		
		<div> 
			<a class='btn btn-outline-dark' role='button' href='/lab-6/' > Log Out </a>
			<br>
			<br>
		</div>
		
		<center>
			{% if user.is_authenticated %} 
				Hello {{name}} !
			{% endif %} 
		</center>
		
		<p> Favourite Books : <input class="btn btn-primary" type="button"  id = "count" value="0"> </p>

		<button id="creative" type="button" class="btn btn-info" method="POST">Search books of Creative </button>
		<button id="art" type="button" class="btn btn-info" method="GET">Search books of Art </button>
		<button id="quilting" type="button" class="btn btn-info">Search books of Quilting </button>
		</center>
		
		<div class="main-div">
        <div class="container mx-auto d-block">
        <br>
			<table id="result" class="table table-hover table-striped" align="center" style="text-align: center">
				<thead>
					<tr>
						<th scope="col">Judul Buku</th>
						<th scope="col">Cover</th>
						<th scope="col"> Penulis </th>
						<th scope="col"> Penerbit </th>
						<th scope="col"> Add to Favourite </th>
					</tr>
				</thead>
        </div>
    </div>

	</body> 


	<script>
		$(document).on('click','#quilting', function(){
		$.ajax ({
			url : "/lab-6/list_buku/",
			//type : "get",
			//dataType : "json",
			success : function(data) {
				var tmp = "";
				for(var i = 0; i< data.items.length ; i++) {
					tmp += "<tbody><tr>" + "<td>" + data.items[i].volumeInfo.title + "</td>" +
					"<td><img src='"+ data.items[i].volumeInfo.imageLinks.thumbnail + "'></td>" +
					"<td>"+ data.items[i].volumeInfo.authors + "</td>" +
					"<td>"+ data.items[i].volumeInfo.publisher + "</td>" +
					"<td><a class='btn btn-outline-primary' href='#' role='button' id='fav'><i class='glyphicon glyphicon-star'></a></td>" + 
					 "</tr></tbody>"
				}
				$("#result").append(tmp);
			}
		});
		});	
		
		$(document).on('click','#fav', function(){
			$('#count').val(parseInt($('#count').val())+1);
			$(this).toggleClass("buttonClicked");
		});
		
		$(document).on('click','#creative', function(){
			$.ajax ({
			url : "https://www.googleapis.com/books/v1/volumes?q=creative",
			success : function(data) {
				var tmp = "";
				for(var i = 0; i< data.items.length ; i++) {
					tmp += "<tbody><tr>" + "<td>" + data.items[i].volumeInfo.title + "</td>" +
					"<td><img src='"+ data.items[i].volumeInfo.imageLinks.thumbnail + "'></td>" +
					"<td>"+ data.items[i].volumeInfo.authors + "</td>" +
					"<td>"+ data.items[i].volumeInfo.publisher + "</td>" +
					"<td><a class='btn btn-outline-primary' href='#' role='button' id='fav'><i class='glyphicon glyphicon-star'></a></td>" + 
					 "</tr></tbody>"
				}
				$("#result").append(tmp);
			}
		});
		});
		
		$(document).on('click','#art', function(){
			$.ajax ({
			url : "https://www.googleapis.com/books/v1/volumes?q=art",
			success : function(data) {
				var tmp = "";
				for(var i = 0; i< data.items.length ; i++) {
					tmp += "<tbody><tr>" + "<td>" + data.items[i].volumeInfo.title + "</td>" +
					"<td><img src='"+ data.items[i].volumeInfo.imageLinks.thumbnail + "'></td>" +
					"<td>"+ data.items[i].volumeInfo.authors + "</td>" +
					"<td>"+ data.items[i].volumeInfo.publisher + "</td>" +
					"<td><a class='btn btn-outline-primary' href='#' role='button' id='fav'><i class='glyphicon glyphicon-star'></a></td>" + 
					 "</tr></tbody>"
				}
				$("#result").append(tmp);
			}
		});
		});
		

	</script> 
	
	
</html>