{% block title %}

{% endblock %}

{% block content %}
{% load static %}
<html>
	<head>
		<title>Log In</title>
	</head>

<style>
#login {
    padding: 3em;
    margin-top: 10px;
}
body {background-color: powderblue;}
</style>

<div class="container">
    <div class="panel text-center" id="login">
        <h2>Silakan masuk dengan akun Google kamu</h2>
        <div class="btn btn-light my-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration:none">
                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                Login with Google
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- <script src="{% static 'script.js' %}"></script> -->
{% endblock %}
