{% load static %}
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
		<script type="text/JavaScript" src="{% static 'function.js' %}"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script>
			document.onreadystatechange = function () {
				  setTimeout(function(){
					 document.getElementById('load').style.visibility="hidden";
				  },2000);
			  }
		</script>

	</head>

	<body  bgcolor="#f9f098">
			<div id="load"></div>
		<center><h1><font color="#5b4107NPM">Hello, Apa Kabar?</font></h1></center>
		<br>
		{% block content %}


		<div class="tema">
            <p> Select Your Theme here!</p>
        
          <input type="button" id="but1" value="Peach UI" onclick="warna('#E9967A')";/>
          <input type="button" id="but2" value="Blue Limes" onclick="warna('#48D1CC')";/>
        </div>

		<div> 
			<a class='btn btn-outline-dark' role='button' href='/lab-6/identitas/' > Lihat Profile Saya </a>
			<br>
			<br>
		</div>
		
		<div>
			<a class='btn btn-outline-dark' role='button' href ='/lab-6/listbuku/' > Lihat List Buku </a>
			<br>
			<br>
		</div>
		
		<div>
			<a class='btn btn-outline-dark' role='button' href ='/lab-6/login/' > Log In With Google and You Can Add Favorite List Buku </a>
			<br>
			<br>
		</div>

		<div>
			<a class='btn btn-outline-dark' role='button' href ='/lab-10/subscribe/' > Subscribe </a>
			<br>
			<br>
		</div>


		<form id="form" method="POST" action="{% url 'Lab6:add_todo' %}">
			{{ todo_form }}
			{% csrf_token %}
			{{ form.as_p }}
			<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
		</form>
		
		
		<br>

		{% if todo %}
		<center><h1 class "text-main"><font color="#5b4107NPM">My Status</font></h1></center>
		<table class="table table-hover table-striped" align="center" style="text-align: center">
			<tr>
				<th scope="col">Status</th>
				<th scope="col">Time</th>
			</tr>
			{%for data in todo %}
				<tr>
					<td scope="row">{{data.description}}</td>
					<td scope="row">{{data.time}}</td>
				</tr>	
			{%endfor%}
		
		{%else%}
			<br>
			<h1 class "text-main">Tidak Ada Status</h1>
		</table>
		{%endif%}

		{% endblock %}
	
	</body>
</html>